## mako
<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import Text, HTML
from datetime import datetime
import pytz
from django.conf import settings
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("Contact Us")}</%block>

<div class="page-heading">
  <h1>${_("Contact Us")}</h1>
</div>

<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12 col-centered">

            <h2>General</h2>
            <p>
                Phone: (804) 360-9130 <br/>
                Email: info@environicfoundation.org<br/>
                12035 Stonewick Pl<br/>
Glen Allen, VA 23059<br/>

     </p>

        </div>
      </div>
    </div>
  </div>
</section>

<a href="#success-message" class="media hidden" id="success-message-btn" rel="leanModal">
</a>



